
*.vsidx
*.lock
.vs/realAdviceTriggerSystem/DesignTimeBuild/.dtbcache.v2
realAdviceTriggerSystemAPI/bin/Debug/net6.0/appsettings.Development.json
realAdviceTriggerSystemAPI/bin/Debug/net6.0/appsettings.json
realAdviceTriggerSystemAPI/bin/Debug/net6.0/BouncyCastle.Crypto.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Google.Protobuf.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Humanizer.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/K4os.Compression.LZ4.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/K4os.Compression.LZ4.Streams.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/K4os.Hash.xxHash.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.OpenApi.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Mono.TextTemplating.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/MySql.Data.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/MySql.EntityFrameworkCore.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/realAdviceTriggerSystemAPI.deps.json
realAdviceTriggerSystemAPI/bin/Debug/net6.0/realAdviceTriggerSystemAPI.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/realAdviceTriggerSystemAPI.exe
realAdviceTriggerSystemAPI/bin/Debug/net6.0/realAdviceTriggerSystemAPI.pdb
realAdviceTriggerSystemAPI/bin/Debug/net6.0/realAdviceTriggerSystemAPI.runtimeconfig.json
realAdviceTriggerSystemAPI/bin/Debug/net6.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/runtimes/win-x64/native/comerr64.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/runtimes/win-x64/native/gssapi64.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/runtimes/win-x64/native/k5sprt64.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/runtimes/win-x64/native/krb5_64.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/runtimes/win-x64/native/krbcc64.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/System.CodeDom.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/System.Diagnostics.DiagnosticSource.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/System.Drawing.Common.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/System.IO.Pipelines.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/System.Security.Permissions.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/System.Text.Encodings.Web.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/System.Text.Json.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/System.Windows.Extensions.dll
realAdviceTriggerSystemAPI/bin/Debug/net6.0/ZstdSharp.dll
realAdviceTriggerSystemAPI/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
realAdviceTriggerSystemAPI/obj/Debug/net6.0/apphost.exe
realAdviceTriggerSystemAPI/obj/Debug/net6.0/realAdviceTriggerSystemAPI.AssemblyInfo.cs
realAdviceTriggerSystemAPI/obj/Debug/net6.0/realAdviceTriggerSystemAPI.AssemblyInfoInputs.cache
realAdviceTriggerSystemAPI/obj/Debug/net6.0/realAdviceTriggerSystemAPI.assets.cache
realAdviceTriggerSystemAPI/obj/Debug/net6.0/realAdviceTriggerSystemAPI.csproj.AssemblyReference.cache
realAdviceTriggerSystemAPI/obj/Debug/net6.0/realAdviceTriggerSystemAPI.csproj.BuildWithSkipAnalyzers
realAdviceTriggerSystemAPI/obj/Debug/net6.0/realAdviceTriggerSystemAPI.csproj.CopyComplete
realAdviceTriggerSystemAPI/obj/Debug/net6.0/realAdviceTriggerSystemAPI.csproj.CoreCompileInputs.cache
realAdviceTriggerSystemAPI/obj/Debug/net6.0/realAdviceTriggerSystemAPI.csproj.FileListAbsolute.txt
realAdviceTriggerSystemAPI/obj/Debug/net6.0/realAdviceTriggerSystemAPI.dll
realAdviceTriggerSystemAPI/obj/Debug/net6.0/realAdviceTriggerSystemAPI.GeneratedMSBuildEditorConfig.editorconfig
realAdviceTriggerSystemAPI/obj/Debug/net6.0/realAdviceTriggerSystemAPI.genruntimeconfig.cache
realAdviceTriggerSystemAPI/obj/Debug/net6.0/realAdviceTriggerSystemAPI.GlobalUsings.g.cs
realAdviceTriggerSystemAPI/obj/Debug/net6.0/realAdviceTriggerSystemAPI.MvcApplicationPartsAssemblyInfo.cache
realAdviceTriggerSystemAPI/obj/Debug/net6.0/realAdviceTriggerSystemAPI.MvcApplicationPartsAssemblyInfo.cs
realAdviceTriggerSystemAPI/obj/Debug/net6.0/realAdviceTriggerSystemAPI.pdb
realAdviceTriggerSystemAPI/obj/Debug/net6.0/ref/realAdviceTriggerSystemAPI.dll
realAdviceTriggerSystemAPI/obj/Debug/net6.0/refint/realAdviceTriggerSystemAPI.dll
realAdviceTriggerSystemAPI/obj/Debug/net6.0/staticwebassets.build.json
realAdviceTriggerSystemAPI/obj/Debug/net6.0/staticwebassets/msbuild.build.realAdviceTriggerSystemAPI.props
realAdviceTriggerSystemAPI/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.realAdviceTriggerSystemAPI.props
realAdviceTriggerSystemAPI/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.realAdviceTriggerSystemAPI.props
realAdviceTriggerSystemAPI/obj/project.assets.json
realAdviceTriggerSystemAPI/obj/project.nuget.cache
realAdviceTriggerSystemAPI/obj/realAdviceTriggerSystemAPI.csproj.nuget.dgspec.json
realAdviceTriggerSystemAPI/obj/realAdviceTriggerSystemAPI.csproj.nuget.g.props
realAdviceTriggerSystemAPI/obj/realAdviceTriggerSystemAPI.csproj.nuget.g.targets
